* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%,
}
body {
    font-size: 1.6rem
}
@font-face {
    font-family: Cinzel;
    src: url("../fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
}
@font-face {
    font-family: Poppins_thin;
    src: url(../fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
    font-family: Poppins_light;
    src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}

.font_cinzel {
    font-family: Cinzel;
}

.font_poppins {
    font-family: Poppins_light;
}

.font_darkgray {
    color: #333;
}

header {
    color: #999;
    font-size: 1.3rem;
    padding-top: .2rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}

.site_title {
    display: flex;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
    background-position-x: left;
    background-position-y: center;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

h2 {
    color: #fff;
    width: 30%;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

.main_text {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    text-align: center;
    padding-top: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.pic_gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3.5rem 2rem;
    row-gap: 2.5rem;
    column-gap: 2.5rem;
}

img {
    width: 30%;
}

article p {
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-bottom: .6rem;
}
article p:last-of-type {
    margin-bottom: 5rem;
}

footer p {
    border-top: .1rem solid #ccc;
    padding: 1rem;
    text-align: center;
}

article p:nth-child(1)::after,
article p:nth-child(2)::after,
article p:nth-child(3)::after {
    content: " - SOLD OUT";
    color: red;
}

article p:nth-child(4)::after {
    content: " - ONLY 4 SPOTS AVAILABLE";
    color: red;
}

article p:nth-child(5)::after {
    content: " - AVAILABLE";
    color: green;
}

article p:nth-child(6)::after {
    content: " - AVAILABLE";
    color: green;
}



